/* regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#container {
    width: 80%;
    margin: 0 auto;
}

#box-container{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 90%;
}

/* regole per le immagini */
#item-container {
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.item {
    display: none;
}

.item img {
    display:flex;
    justify-content:center;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

/* permette alle immagini di rendersi visibili, importante per codice js */
.active {
    display: block;
}

/* frecce da posizionare */
#left,
#right {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 8px;
    color: rgb(255, 255, 255);
    margin-top: -22px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: none;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

/* thumbnail */

#thumbnail-container{
    max-width: 230px;
    display: flex;
    flex-direction: column;
}

.box-image img{
    display:flex;
    height: 150px;
    width: 100%;
    object-fit:cover;
    object-position: center;
    overflow: hidden;
    cursor:pointer;
    filter: contrast(0.4);
}

/* classe che permette di evidenziare l'immagine una volta cliccata, 
importante per js */

.selected{
    filter: contrast(2);
    border: 2px solid yellow;
}




